<!DOCTYPE html>
  <head>
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">

    <!-- SIMPLE ABOUT FONT -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
    <!-- ======================================= -->
    <link rel="stylesheet" href="/style.css">
    <meta charset="utf-8">
    <link rel="icon" href="<%- bot.user.displayAvatarURL({format: "png"}) %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%- bot.user.username %> | Home</title>
  </head>

  <body style="height:1000px;">
    <nav class="navbar shadow-sm p-3 mb-5 sticky-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><%- bot.user.username %></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        </div>
      </div>
    </nav>

    <div class="the-title">
      <h2>Use your mind</h2>
      <p class="simple-about"><%- bot.user.username %> is a discord bot which is useful as a bot, and has many commands that serve to manage your server and for fun</p>
      <a class="my-button" disabled>GET STARTED</a>
      <a class="my-button" href="https://discordapp.com/api/oauth2/authorize?client_id=<%- bot.user.id %>&permissions=8&scope=bot">INVITE <%- bot.user.username.toUpperCase() %></a>
    </div>
    <br>
    <section class="page2">
      <div class="container">

      <div class="category text-center">
        <h1>Category</h1>
        <p class="text-muted">Several categories of our bot</p>
      </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Moderation</h5>
            <p class="card-text text-muted">Make your server secure</p>
          </div>
        </div>

      </div>
    </section>
  </body>
</html>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
